.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}
.nav-section {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
  cursor: pointer;
}
.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-section {
  display: flex;
  justify-content: center;
}
.search-box {
  align-items: center;
  border-bottom: 2px solid black;
  padding: 5px;
  width: 50vw;
}
.search-box input {
  width: 45vw;
  border: none;
  margin-left: 5px;
}
.search-box input:focus {
  outline: none;
}

.card {
  border: none !important;
  margin-bottom: 10px;
  cursor: pointer;
}
.card img {
  width: 100%;
}
